*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #15202b;
  --secondary: #1da1f2;
}

body {
  font-family: sans-serif;
  background-color: var(--primary);
  color: #fff;
}
